Flask
psycopg2-binary
SQLAlchemy
Flask-SQLAlchemy
python-dotenv
Flask-Migrate
Flask-RESTful
pytest-cov
pytest-sugar
pytest
flask_bcrypt
PyJWT
celery
Redis
flask-cors
Flask-Seeder
pandas
openpyxl
digital-twin-migration @ git+https://github.com/Cizz22/digital-twin-migration
